body
{
    
    background-position: center;
    background-repeat: no-repeat;
    color:Blue;
    font-family: monospace
    
    
    
}

h1
{
 
    width: 100%;
    top: 0px;
    left: 0px;
    padding: 12px;
    margin: 0px;
    background-color: greenyellow;


}

body
{
    background-color: pink
}

 

